:root {
    /* Background colors */

    --notelist-bg-color: hsl(205, 68%, 94%, 100%);
    --note-bg-color: hsl(205, 56%, 89%, 100%);

    --noteinput-bg-warn: hsl(360, 74%, 77%, 100%);
    --noteinput-color-warn: hsl(360, 79%, 52%, 100%);
    /* border's settings */

    /* Margenes */
    --m-0-2: 0.2rem;
    --m-0-5: 0.5rem;
    --m-0-75: 0.75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-4: 4rem;
    --m-5: 5rem;
}
